{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "modules": "commonjs",
      "debug": true
    }],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-decorators-legacy"
  ]
}